<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/vendas</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>

		<!-- Conexão jdbc mysql -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

		<!-- Gerenciamento da sessão -->
		<property name="current_session_context_class">thread</property>

		<!-- Desabilita o cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Exibi os comandos SQL -->
		<property name="show_sql">true</property>

		<!-- Criação das tabelas -->
		<property name="hbm2ddl.auto">validate</property>

		<!-- mapping para gerar tabelas -->

		<mapping class="br.com.sistemaVendas.domain.Produto" />
		<mapping class="br.com.sistemaVendas.domain.Funcionario" />
		<mapping class="br.com.sistemaVendas.domain.Fornecedor" />
		<mapping class="br.com.sistemaVendas.domain.Venda"/>
		<mapping class="br.com.sistemaVendas.domain.Item"/>



	</session-factory>

</hibernate-configuration>